.relative-box{
    width: 500px;
    height: 500px;
    position: relative;
    margin: 0 auto;
    background-color: yellow;
    transition: all 1s linear 1s;
   
}

.relative-box:hover{
    
    background-color:blue;
}

.absolute-box{
    width: 100px;
    height: 100px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) ;
    position: absolute;
    background-color: red;

    transition-property:all ;
    transition-duration: 1s;
    transition-timing-function:ease;
    transition-delay: 0.5s; 
   

}
.absolute-box:hover{
    background-color:orange;
    transform: translate(-50%, -50%) rotate(45deg);
}